[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "static/about"]
	path = static/about
	url = https://github.com/sudipghimire533/sudipghimire533.github.io
